# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucas
.pytest_cache/
.coverage
htmlcov/
.env

# JavaScript & Vite files
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.vite/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
